.profile {
  display: flex;
  flex-direction: flex-start;
  align-items: center;
  gap: 10px;
  margin: 50px 0px 40px;
}

.profileimg {
  width: 40px;
  height: 40px;
}

.profileinfo {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 60px;
  gap: 30px;
}
.underline {
  border: 1px dashed #ddd;
}


.link {
  text-decoration: none; /* 링크 밑줄 제거 */
  color: #333; /* 링크 색상 */
  font-weight: bold; /* 글씨 굵기 */
}

.link:hover {
  color: #01251198; /* 호버 시 색상 변경 */
}
