
.profile {
  display: flex;
  flex-direction: flex-start;
  align-items: center;
  gap: 10px;
  margin: 50px 0px 40px;
}

.profileimg {
  width: 40px;
  height: 40px;
}

.profileinfo {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 60px;
  gap: 30px;
}
.underline {
  border: 1px dashed #ddd;
}


.link {
  text-decoration: none; /* 링크 밑줄 제거 */
  color: #333; /* 링크 색상 */
  font-weight: bold; /* 글씨 굵기 */
}


.link:hover {
  color: green; /* 호버 시 더 짙은 녹색으로 변경 */
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out; /* 부드러운 색상 및 변형 전환 */

}
