.fileListContainer {
  padding: 20px;
  text-align: left; 
  margin: 20px;
  flex-basis: 50%; 
}



.h2 {
  text-align: center;
  margin-bottom: 5px;
}
.underline {
  border-bottom: 2px solid #ddd;
  width: 160px;
  margin: 0 auto; 
  margin-bottom:50px;
}
.fileicon {
  margin: 0px;
}

.nofile {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 50px;
}
ul {
  padding: 0 10px;
  list-style: none;
}
.filelist {
  display: flex;
  padding: 20px 0;
  list-style-type: none;
  border-bottom: 1px solid #ddd;
}

.filelist:last-child {
  border-bottom: none; 
}

li {
  margin: 0 20px; 
  color: #333;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

li button {
  margin-left: 10px; 
}

.deleteButton {
  margin-left: 10px; 
  cursor: pointer; 
  background-color: transparent;
  border: none; 
  color: #333; 
  align-items: flex-start;
  margin-left: auto;
}
