.fileDropContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.uploadContainer {
  padding: 20px;
  border: 2px dashed #999;
  text-align: center;
  margin: 20px;
  flex-basis: 50%;
}

.fileInput {
  margin-bottom: 20px;
}

