.container {
  display: flex;
  margin: 0px 100px;
  height: 500px;
}

.leftbody {
  flex: 1;
  border: 2px dashed #ddd;
  border-radius: 8px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%; 
}

.uploadcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  height: 80%;
  width: 80%;
}

.fileicon {
  margin: 0px 0px 20px 0px;
}
.fileicon:hover {
  cursor: pointer;
  filter: opacity(60%); 
  transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out; 
}
.text {
  font-size: 15px;
  text-align: center;
}

.rightbody {
  flex: 1;
  margin: 0px 0px 0px 20px;
  border: 2px dashed #ddd;
  border-radius: 8px;
  text-align: left;
  height: 90%; 
  overflow-y: auto;
  max-height: 100%;
}

.rightbody::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.rightbody::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3); /* 스크롤바 썸의 색상 */
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.3); 
}
.rightbody::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #e5e5e5;
}  


.uploadButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 100px;
}