.allcontainer{
  display: flex;
  flex-direction: column;
  padding-bottom: 200px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 46px;
  border: 2px dashed #ddd;
  border-radius: 8px;
  width: 60%;
  text-align: center;
  height: 600px;
}

.logo {
  width: 300px;
}


.authCode {
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  border-radius: 10px;
  width: 50%;  
  padding: 20px;
  font-weight: bold;
  margin: 0 auto 20px;
}

.fileList {
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  border-radius: 10px;
  width: 50%;  
  padding: 20px;
  display: flex;
  flex-direction:column;
  list-style: none;
  max-height: 150px;
  overflow-y: auto;
}
.bolder{
  font-weight: bold;
  padding: 0;
  margin: 0 0 10px;
}
.fileList::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.fileList::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3); /* 스크롤바 썸의 색상 */
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.3); 
}
.fileList::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #e5e5e5;
}  



.fileItem {
  margin: 5px 10px;
  color: #555;
}

.homeButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
}
/* UploadButton.module.css */
.button {
  background-color: #585858; /* 녹색 배경 */
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 150px;
  margin: 0 auto;

  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #45a049; /* 호버 시 더 짙은 녹색으로 변경 */
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out; /* 부드러운 색상 및 변형 전환 */
}
