.loginbutton {
  width: 300px;
  border: none;
  background: transparent; /* 배경 투명 */
  outline: none; 
}

.kakaoLoginButton {
  cursor: pointer; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.loginbutton:hover {
  cursor: pointer; 
}

.kakaoLoginButton:hover {
  transform: translateY(5px); 
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2); 
}
